<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- PAYFLOW PRO SETTINGS-->
    <add key="PayFlowPro.Host" value="pilot-payflowpro.paypal.com" />
    <add key="PayFlowPro.Port" value="443" />
    <add key="PayFlowPro.Timeout" value="30" />
    <add key="PayFlowPro.User" value="SECRET" />
    <add key="PayFlowPro.Vendor" value="SECRET" />
    <add key="PayFlowPro.Partner" value="Paypal" />
    <add key="PayFlowPro.Password" value="SECRET" />
    <add key="PayFlowPro.Verbosity" value="High" />

    <!-- TELECHECk SETTINGS-->
    <add key="TeleCheck.Host" value="pilot-payflowpro.paypal.com" />
    <add key="TeleCheck.Port" value="443" />
    <add key="TeleCheck.Timeout" value="30" />
    <add key="TeleCheck.User" value="SECRET" />
    <add key="TeleCheck.Vendor" value="SECRET" />
    <add key="TeleCheck.Partner" value="Paypal" />
    <add key="TeleCheck.Password" value="SECRET" />
    <add key="TeleCheck.Verbosity" value="High" />

  </appSettings>

</configuration>